<doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About us | Clustomics</title>
 
  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

<style>
   #arturo{display:none;}
   #adria{display:none;}
   #fabian{display:none;}
   #paula{display:none;}
   
   .btnclose {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border-radius:100px;
  cursor: pointer;
}
/* Darker background on mouse-over */
.btnclose:hover {
  background-color: RoyalBlue;
}
</style>

</head>




<body>
<!-- Header -->
     
     
<div style="position:fixed; width:100%; z-index:1;"  >
    <iframe width="100%" height="60px" src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   
  
<br><br>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/arturo.jpeg" class="card-img-top" alt="Member photo" >
        <div class="card-body text-center">
     	<a href="javascript:document.getElementById('arturo').style.display='block';void0" ><h5  class="card-title mb-0">Arturo González</h5> </a>
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/adria.jpeg" class="card-img-top" alt="Member photo">
        <div class="card-body text-center">
           <a href="javascript:document.getElementById('adria').style.display='block';void0" ><h5 class="card-title mb-0">Adrià Pont</h5> </a>
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/fabian.jpg" class="card-img-top" alt="Member photo" style="height:255px">
        <div class="card-body text-center">
          <a href="javascript:document.getElementById('fabian').style.display='block';void0">   <h5 class="card-title mb-0">Fabián Robledo</h5></a> 
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/paula.jpg" class="card-img-top" alt="Member photo" style="height:255px">
        <div class="card-body text-center">
          <a href="javascript:document.getElementById('paula').style.display='block';void0" ><h5 class="card-title mb-0">Paula Gomis</h5></a> 
          <div class="card-text text-black-50">Mathematician</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  
  <!-- ARTURO-->
  
   <div id="arturo" class="signup">
    <div class="container">
    
        <div class=" col-lg-12 col-xl-12 mx-auto ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
             <div style="float:right"><a href="javascript:document.getElementById('arturo').style.display='none';void0" ><h5 class="card-title mb-0"><button class="btnclose"><i class="fa fa-close"></i></button></a> </div>
               <h5 class="card-title text-center">Arturo</h5>
                  He is graduated in  Biotechnology at Polytechnic University of Valencia (UPV) and he is currently studying  the Master in Bioinformatics for Health Sciences at Pompeu Fabra University (UPF).
          </div>
        </div>
      </div>
    </div>
</div>

  <!--  ADRIA -->
   <div  id="adria"class="signup">
    <div class="container">
    
        <div class=" col-lg-12 col-xl-12 mx-auto ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
             <div style="float:right"><a href="javascript:document.getElementById('adria').style.display='none';void0" ><h5 class="card-title mb-0"><button class="btnclose"><i class="fa fa-close"></i></button></a> </div>
               <h5 class="card-title text-center">Adrià</h5>
                  He is graduated in  Biotechnology at Polytechnic University of Valencia (UPV) and he is currently studying  the Master in Bioinformatics for Health Sciences at Pompeu Fabra University (UPF).
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- FABIAN-->
   <div id="fabian" class="signup">
    <div class="container">
    
        <div class=" col-lg-12 col-xl-12 mx-auto ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
                  <div style="float:right"><a href="javascript:document.getElementById('fabian').style.display='none';void0" ><h5 class="card-title mb-0"><button class="btnclose"><i class="fa fa-close"></i></button></a> </div>

                  <h5 class="card-title text-center">Fabián  </h5>     
                  He is graduated in  Biotechnology at Polytechnic University of Valencia (UPV) and he is currently studying  the Master in Bioinformatics for Health Sciences at Pompeu Fabra University (UPF).
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- PAULA  -->
   <div id="paula" class="signup">
    <div class="container">
    
        <div class=" col-lg-12 col-xl-12 mx-auto ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
             <div style="float:right"><a href="javascript:document.getElementById('paula').style.display='none';void0" ><h5 class="card-title mb-0"><button class="btnclose"><i class="fa fa-close"></i></button></a> </div>
               <h5 class="card-title text-center">Paula</h5>
                  She is graduated in Mathematics at the University of Alicante (UA) and she is currently studying  the Master in Bioinformatics for Health Sciences at Pompeu Fabra University (UPF).
          </div>
        </div>
      </div>
    </div>
</div>

</div>





 <!-- Footer -->
  <footer class="py-5 bg-dark" style="width:100%; position:fixed; bottom:0"   >
    <div class="container" >
      <p class="m-0 text-center text-white" >Copyright &copy; Clustomics 2020</p>
    </div>
    <!-- /.container -->
  </footer>



<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- /.container -->




</body>
</html>



<script>
function hide(){
var variables = document.getElementById('hide');

variables.style.visibility = 'hidden';

}

function show(){
var variables = document.getElementById('hide');

variables.style.visibility = 'visible';

}
