<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>About us | Clustomics</title>
 
  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">

</head>




<body>
<!-- Header -->
     
<div>
<iframe width="100%"    src="header.html" scrolling="no" frameborder="no" ></iframe>
</div>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/arturo.jpg" class="card-img-top" alt="Member photo">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Arturo González</h5>
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/adria.jpeg" class="card-img-top" alt="Member photo">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Adrià Pont</h5>
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/fabian.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Fabián Robledo</h5>
          <div class="card-text text-black-50">Biotechnologist</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="../static/img/paula.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Paula Gomis</h5>
          <div class="card-text text-black-50">Mathematician</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- /.container -->
</body>
</html>
