<!DOCTYPE html>
<html>
 
	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, height=10px">
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">

 <style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
</style>


</head>
	<body>


<div class="footer" style="height:50px" >
  <br>
  <div type=row>
     Clustomics 2020 &nbsp &nbsp &nbsp &nbsp  <img src="../static/img/copyright.svg.png"   height="20px">  All rights reserved.   
  </div>
</div> 
 

	  
 



<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
		
		
		





	
	
	
	
	 