<!doctype html>
<html>
   <body>
	   
 	<h1> My projects </h1>
	   <form action={{ url_for('new_project', user=username)}} method="POST">
    	<input type="submit" value="Create new project"  />
		</form>
	<table border=1>
      {% for project in projects %}
	<tr>

               <th> {{ project['project_name'] }} </th>
               <td> {{ project['group_name'] }} </td>
	<td><form action={{ url_for("project_info", user=username, proj=project['project_name']) }}>
    	<input type="submit" value="Go to the project" />
		</form></td>     
        </tr>        

      {% endfor %}



 <!-- Footer -->
  <footer class="py-5 bg-dark" style="width:100%; position:fixed; bottom:0"   >
    <div class="container" >
      <p class="m-0 text-center text-white" >Copyright &copy; Clustomics 2020</p>
    </div>
    <!-- /.container -->
  </footer>
	
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
a


   </body>
</html>
