<doctype html>
<html>
  
 	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">

</head> 
  
  
<body>
  
  
  
<div style="margin: 0px 0px -100px 0px" >
<iframe width="100%"  src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   
  
<div id='content'></div>
   
  
<div class="signup">
    <div class="container">
         <div class=" col-xl-8 " style="margin:0 20% 0">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              <h2 class="  text-center"> New project    </h2> <br>
               <div class="msg" style="width:80%; margin:0 10% 0; ">{{ msg }}</div>
              <form action={{ url_for("new_project") }} method="post" autocomplete="off" class="form-signin" enctype="multipart/form-data">
                      <div class="form-label-group">
                          <input type="text" name="name_of_the_project" placeholder="name_of_the_project" id="name_of_the_project" required style="width:50%; margin: 0 25% 0 ;">
                          <label for="name_of_the_project" style="  margin: 0 25% 0 ;">Name of the project</label>
                       </div>
<br>
                       <h4>Description of the project: </h4>  
                       <div class="form-label-group">
                           <textarea rows="4" cols="50" name="description" maxlength="500" style="font-size: 100%; border-radius: 1rem; letter-spacing: .05rem; font-weight: bold; padding: 1rem; transition: all 0.2s;   "></textarea>         
                 
                       </div>
			Select your data:
			<input style="font-size: 80%; border-radius: 0.5rem; letter-spacing: .05rem; font-weight: bold; padding: 0.3rem; transition: all 0.2s; " type = "file" name = "file"  required/><br />

                       Select the group of the project:
                                  <select  name="group">
                                    {% for group in groups %}
                                      <option value={{group}}>{{group}} </option>
                                    {% endfor %}
                                    </select>
             
                        <br>
                              
                                       
				                                   
					Select algorithm 
				
                                   <select  name="algorithm" onchange="type_algorithm(this)" >
                                      <option value="0">Hierarchical clustering</option>
                                      <option value="1">K Means</option>
                                   </select>
				
                                    <br />
                                    Select number of groups: <input style="font-size: 80%; border-radius: 0.5rem; letter-spacing: .05rem; font-weight: bold; padding: 0.3rem; transition: all 0.2s; " type="number" name="groups" min="2" max="20" required>
                                    <br />
                                     Separating character
                                     <select name='input_type'>
                                         <option value=','>Comma (,)</option>
                                         <option value='\t'>Tabs</option>
                                         <option value=';'>Semicolon (;)</option>
                                     </select>
                                     <br />
                                    Column names in the first row <input type="radio" id="Yes" name="col_names" value=1 required><label for="Yes">Yes</label><input type="radio" id ="No" name="col_names" value=0><label for="No">No</label>
                                    <br />
                                    Row names in the first column <input type="radio" id="Yes2" name="row_names" value=1 required><label for="Yes2">Yes</label><input type="radio" id ="No2" name="row_names" value=0><label for="No2">No</label>
                                    <br />
                                   
<div id=hide>
 Select linkage: 
                                    <select name="type">
                                        <option value="ward"> Ward</option>
                                        <option value="single"> Single</option>
                                        <option value="complete"> Complete</option>
                                        <option value="average"> Average</option>
                                    </select>
                                        <br />
                                    Select distance: 
                                    <select name="distance"  >
                                        <option value="euclidean">Euclidean</option>
                                    </select>
</div>
                                    <br />
                                   


<input class="btn btn-lg btn-primary btn-block btn-login  font-weight-bold mb-2" type="submit" name="action"   style="width:80%; margin:0 10% 0; background-color: #B2EBF2; color:black; border-color:white; " value="Send"></input> 
                              </form>


                              
             </div>
          </div>
        </div>   
</div>     
<br><br>

 <!-- Footer -->
  <footer class="py-5 bg-dark" style="width:100%; position:fixed; bottom:0 ; margin:0 0 0 0"   >
    <div class="container" >
      <p class="m-0 text-center text-white" >Copyright &copy; Clustomics 2020</p>
    </div>
    <!-- /.container -->
  </footer>


	
<!-- Bootstrap core JavaScript -->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>




   </body>
</html>

<script>
function loading(){
	var variables = document.getElementById('load_hide');
	variables.style.visibility = 'hidden';
	document.getElementById("content").innerHTML = "<div class='container'><div class=' col-xl-8 ' style='margin:0 20% 0'><div class='card card-signin flex-row my-5'><div class='card-body'><h5 class='card-title text-center'>Processing your data <br> You will be redirected shortly</h5><div class='text-center'><img src='../static/img/favicon.ico' class='rotate' width='100' height='100' </img></div></div></div></div></div><style> .rotate {animation: rotation 8s infinite linear;}@keyframes rotation {from {transform: rotate(0deg);}to {transform: rotate(359deg);}}</style>";}

function hide(){
var variables = document.getElementById('hide');

variables.style.visibility = 'hidden';

}

function show(){
var variables = document.getElementById('hide');

variables.style.visibility = 'visible';

}


function type_algorithm(select){
if(select.value == '0'){
show();
}else if(select.value == '1'){
hide();
}}




</script>
