<doctype html>
<html>
  
 	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/css/signup.css" rel="stylesheet">

</head> 
  
  
<body>
  
  
  
<div>
<iframe width="100%"  src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   
  
  
  
  
 <h1 class="card-title text-center">  {{project['project_name']}}   </h1> 
  
<div class="signup">
    <div class="container">
         <div class=" col-xl-6 ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              <h1 class="card-title text-center"> New run   </h1>
                              <form action={{ url_for("new_run", user=username, project=project['project_name'])}} method="POST" enctype="multipart/form-data">
                                       <input type = "file" name = "file" /><br />
                                   Select algorithm 
                                   <select name="algorithm" onchange="type_algorithm(this)">
                                      <option value="0">Hierarchical clustering</option>
                                      <option value="1">K Means</option>
                                   </select>
                                    <br />
                                    Select number of groups: <input type="number" name="groups" min="2" max="20">
                                    <br />
					<div id=hide>
 					Select linkage: 
                                    <select name="type">
                                        <option value="ward"> Ward</option>
                                        <option value="single"> Single</option>
                                        <option value="complete"> Complete</option>
                                        <option value="average"> Average</option>
                                    </select>
                                    <br />

                                    Select distance: 
                                    <select name="distance"  >
                                        <option value="euclidean">Euclidean</option>
                                    </select>
					</div>
                          
                                    <br />
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Run</button>
                              </form>
                              
                                                      
             </div>
          </div>
        </div>     
       
       
       
<div class="signup">
    <div class="container">
         <div class=" col-xl-12 ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              <h1 class="card-title text-center">    Previous runs </h1>
              <button onclick="window.location.href = '{{ url_for('download_project', proj=project['project_name'])}}';">Download project</button>
               
       
                              
                                                  
                    
                    	<table border=1>
                          {% for run in results %}       
                    	<tr>	
                                   <th> {{ run['date_time'] }} </th>
                                   <td> {{ run['validation_result'] }} </td>
                    		<td> {{ run['user'] }} </td>
                    		<td> {{ run['algorithm'] }} </td>
                    		<td> {{ run['linkage'] }} </td>
                    		<td> {{ run['distance'] }} </td>
                    		<td> {{ run['groups'] }} </td>
                    		<td> 
                        		<form action={{url_for('recover_run', project=project['project_name'], run=run['id_result'])}} method="post" autocomplete="off" class="active">
                                	<input type="submit" value="Go to the run" /> </td>   
                                </form>
                            </tr>        
                          {% endfor %}
                          
          
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
      
   </body>
</html>

<script>
function hide(){
    var variables = document.getElementById('hide');

    variables.style.visibility = 'hidden';

}

function show(){
    var variables = document.getElementById('hide');

    variables.style.visibility = 'visible';

}


function type_algorithm(select){
    if(select.value == '0'){
    show();
    }else if(select.value == '1'){
    hide();
}}
</script>
