<doctype html>
<html>
  
 	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Project  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/css/signup.css" rel="stylesheet">

</head> 
  
  
<body>
  
  {% if logged:%}

<div style="margin: 0px 0px -100px 0px" >
<iframe width="100%"  src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   

{% else:%}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src = "static/img/logo.png" height="20" alt = "Clustomics_logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href={{ url_for('about') }}>About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href={{ url_for('login') }}>Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href={{ url_for('signup') }}>Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endif%}
  
  
  
 <h1 class="card-title text-center">  {{project['project_name']}}   </h1> 
  
<div class="signup">
    <div class="container">
         <div class=" col-xl-6 ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              <h1 class="card-title text-center"> New run   </h1>
                              <form action={{ url_for("new_demo_run", user=username, project=project['project_name'])}} method="POST" enctype="multipart/form-data">
                                   Select Dataset
                                   <select name="dataset" onchange="type_algorithm(this)">
                                      <option value="trump.csv">Trump dataset</option>
                                      <option value="erdogan.csv">Erdogan dataset</option>
                                      <option value="sanchez.csv">Sanchez dataset</option>
                                   </select>
                                   Select algorithm 
                                   <select name="algorithm" onchange="type_algorithm(this)">
                                      <option value="0">Hierarchical clustering</option>
                                      <option value="1">K Means</option>
                                   </select>
                                    <br />
                                    Select number of groups: <input type="number" name="groups" min="1" max="6">
                                    <br />
					<div id=hide>
 					Select linkage: 
                                    <select name="type">
                                        <option value="ward"> Ward</option>
                                        <option value="single"> Single</option>
                                    </select>
                                    <br />

                                    Select distance: 
                                    <select name="distance"  >
                                        <option value="euclidean">Euclidean</option>
                                    </select>
					</div>
                          
                                    <br />
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Run</button>
                              </form>
                              
                                                      
             </div>
          </div>
        </div>     
       
       
       
<div class="signup">
    <div class="container">
         <div class=" col-xl-12 ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              <h1 class="card-title text-center">    Previous runs </h1>
              <button onclick="window.location.href = '{{ url_for('download_project', proj=project['project_name'])}}';">Download project</button>
               
       
                              
                                                  
                    
                    	<table border=1>
                          {% for run in results %}       
                    	<tr>	
                                   <th> {{ run['date_time'] }} </th>
                                   <td> {{ run['validation_result'] }} </td>
                    		<td> {{ run['user'] }} </td>
                    		<td> {{ run['algorithm'] }} </td>
                    		<td> {{ run['linkage'] }} </td>
                    		<td> {{ run['distance'] }} </td>
                    		<td> {{ run['groups'] }} </td>
                    		<td> 
                        		<form action={{url_for('recover_run', project=project['project_name'], run=run['id_result'])}} method="post" autocomplete="off" class="active">
                                	<input type="submit" value="Go to the run" /> </td>   
                                </form>
                            </tr>        
                          {% endfor %}
                          
          
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
      
   </body>
</html>

<script>
function hide(){
var variables = document.getElementById('hide');

variables.style.visibility = 'hidden';

}

function show(){
var variables = document.getElementById('hide');

variables.style.visibility = 'visible';

}


function type_algorithm(select){
if(select.value == '0'){
show();
}else if(select.value == '1'){
hide();
}}
</script>
