    <!DOCTYPE html>
  <html>
    <head>
      <title> RunID | {{project_name}} </title>
      <meta charset="UTF-8">
      <meta name="description" content="">


    <meta name="author" content="Conor Sheils">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>Run  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../../static/css/signup.css" rel="stylesheet">
  <link href="css/tables.css" rel="stylesheet">
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    </head>

    <body>

 
<div style="margin: 0px 0px -100px 0px" >
<iframe width="100%"  src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   


  <div class="signup">
    <div class="container">
         <div class=" col-xl-12 ">
          <div class="card card-signin flex-row my-5">

            <div class="card-body">
              <h3 class="card-title text-center" >Run: ID #{{ ID }}  </h3>

                    <form id='info'>

                               <div class="row">
                                    <div class="form-label-group col-xl-3">
                                      <input type="Date"  id="Date" class="form-control" placeholder="Date" value={{date}} required style="background-color: #FFEBEE">
                                      <label for="Date">Date </label>
                                    </div>

                                    <div class="form-label-group col-xl-3">
                                      <input type="text"  id="user" class="form-control" placeholder="User" value={{user_name}} required style="background-color: #FFEBEE">
                                      <label for="User">User </label>
                                    </div>

                                    <div class="form-label-group col-xl-3">
                                      <input type="text"  id="Group" class="form-control" placeholder="Group" value={{group_name}} required style="background-color: #FFEBEE">
                                      <label for="Group">Group </label>
                                    </div>

                                    <div class="form-label-group col-xl-3">
                                      <input type="text"  id="Algorithm" class="form-control" placeholder="Algorithm" value={{algorithm}} required style="background-color: #FFEBEE">
                                      <label for="Algorithm"> Algorithm</label>
                                    </div>
                              </div>
                              <div class="row">
                                    <div class="form-label-group col-xl-3">
                                      <input type="text"  id="" class="form-control" placeholder="Score" value={{validation_parameter}} required style="background-color: #FFEBEE">
                                      <label for="Score"> Score</label>
                                    </div>
                                    <div class="form-label-group col-xl-3">
                                      <input type="text"  id="Number of groups" class="form-control" placeholder="Number of groups" value={{number_of_groups}} required style="background-color: #FFEBEE">
                                      <label for="Number of groups">Number of groups </label>
                                    </div>
                                    {% if algorithm=='K-Means' %}
                                    {% else %}
                                    <div class="form-label-group col-xl-3">
                                    <input type="tex" id="" class="form-control" placeholder="Distance" value="{{distance}}" required style="background-color: #FFEBEE">
                                    <label for="Distance">Distance </label>
                                    </div>
                                    <div class="form-label-group col-xl-3">
                                    <input type="text" id="Linkage" class="form-control" placeholder="" value=" {{linkage}}" required style="background-color: #FFEBEE">
                                    <label for="Linkage">Linkage </label>
                                    </div>
                                    {% endif %}
                                 </div>
                                    </form>
                    		                </td>

             </div>
          </div>
        </div>




        <div class=" col-xl-12" >
          <div class="card card-signin flex-row my-5"  >
            <div class="card-body"  >
              <h3 class="card-title text-center"> PCA and summary plot </h3>

                            <table  border=1  >
                                {% for datapoint in data %}
                                  <tr>
                                      <th> Datapoint ID/position </th>

                                          <th> {{ run['validation_result'] }} </th>
                    		                  <td> {{ run['user'] }} </td>
                    		                  <td> {{ run['algorithm'] }} </td>
                                  </tr>

                                {% endfor %}
                            </table>
                                   {{ img|safe }}

              </div>
          </div>
        </div>

        <div class="card shadow mb-4" style="width:60%; margin:0 20% 0 ">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Clustering results</h6>
          </div>
            <div class="card-body" >
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Row ID</th>
                      <th>Cluster</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for element in points %}

                    <tr>
                        <td>{{ element[0] }}</td>
                        <td>{{ element[1] }}</td>
                    </tr>

                {% endfor %}
                </tbody>
              </table>
          
            </div>
          </div>
        </div>


<!-- compare 2 results -->
        <div class=" col-xl-12">
          <div class="card card-signin flex-row my-5">
            <div class="card-body">
              <h3 class="card-title text-center">  Click here if you want to compare these results with the results from a previous run. </h3>
                <div    style="width:800px; margin:0% 10% 0% "  >
                <form action={{ url_for("compare_2_runs", run1=ID, proj=project_name)}} method="POST"> 
			<div class="row">
			<div class=" col-xl-4">

			Select previous run: 
				    <select name="id_to_compare">
				     {% for id_ in ids %}
				      <option value={{id_}}>#{{id_}}</option>
				     {% endfor %}
				      </select>
			 </div>
			<div class=" col-xl-4">
				    <button class="btn btn-lg btn-primary btn-block  " type="submit"> Compare </button>
			  </div>              
			 </div>

 </div>
                 </form>
            </div>
          </div>
        </div>
       <!--End  compare 2 results -->




      </div>
    </div>
</div>

      

    </body>
    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/vendor/datatables/datatables-demo.js"></script>
    <script>
        var form = document.getElementById("info");
        var elements = form.elements;
        for (var i = 0, len = elements.length; i < len; ++i) {
            elements[i].readOnly = true;
            }
    </script>
  </html>
