<!DOCTYPE html>
<html>
 
	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Settings  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">

</head>
	<body>
	  

	  
<!-- Header -->
  
<div style="position:fixed; width:100%; z-index:1;"  >
    <iframe width="100%" height="60px" src="/header" scrolling="no" frameborder="no" ></iframe>
</div>  

<br><br> 


<div class="signup">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-xl-6 mx-auto" style="margin: 0% 10% 0px 0px">
          <div class="card card-signin flex-row my-5">
      <div class="card-body">
              <h5 class="card-title text-center">Here you can change your username and password.</h5>
              
                  
              <form action="{{ url_for('settings') }}" method = "post" class="form-signin">
                <div class="form-label-group">
                  <input type="text" id="currentusername"   name= "currentusername" placeholder="Username" required style="width:80%; margin:0 10% 0; ">
                  <label for="currentusername" style=" margin:0 10% 0;" >Current username</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="currentpassword" style="width:80%; margin:0 10% 0; " name= "password" placeholder="Password" required>
                  <label for="currentpassword" style=" margin:0 10% 0;" >Current password</label>
                </div>

        <div style="width:80%; margin:0 10% 0; ">{{ msg }}</div>

                <hr class="my-4" style=" margin:0 10% 0;"> 

                <div class="form-label-group">
                  <input type="text" id="newusername" style="width:80%; margin:0 10% 0; " name= "newusername"  placeholder="newusername">
                  <label for="newusername" style=" margin:0 10% 0;">New username</label>
		</div>

 		<button class="btn btn-lg btn-primary btn-block btn-login  font-weight-bold mb-2" type="submit" name="action" value='changeusername' style="width:80%; margin:0 10% 0; ">Change username</button>
                 <hr class="my-4" style=" margin:0 10% 0;">

                <div class="form-label-group">
                  <input type="password" id="newpassword" style="width:80%; margin:0 10% 0; "name= 'newpassword' placeholder="newpassword">
                  <label for="newpassword" style=" margin:0 10% 0;">New password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="confirmpassword" style="width:80%; margin:0 10% 0; "name= 'confirmpassword' placeholder="confirmpassword">
                  <label for="confirmpassword" style=" margin:0 10% 0;" >Confirm Password</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block btn-login  font-weight-bold mb-2" type="submit" name="action" value='changepassword' style="width:80%; margin:0 10% 0; ">Change password</button>

              
                
 </div> 
              </form>
              
              
             

            </div>
          </div>
        </div>
      </div>
    </div>
 <br><br>

 <!-- Footer -->
  <footer class="py-5 bg-dark" style="width:100%; position:fixed; bottom:0"   >
    <div  class="container" >
      <p class="m-0 text-center text-white" >Copyright &copy; Clustomics 2020</p>
    </div>
    <!-- /.container -->
  </footer>





         
 
		

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
		
		
		





	
	
	
	
	 
