<!DOCTYPE html>
<html>
 
	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Settings  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../static/css/signup.css" rel="stylesheet">

</head>
	<body>
	  

	  
<!-- Header -->
  
<div style="position:fixed; width:100%; z-index:1;"  >
    <iframe width="100%" height="60px" src="/header" scrolling="no" frameborder="no" ></iframe>
</div>    

<br><br>


  <div class="signup">
    <div class="container">
      <div class="row">
        <div class=" col-lg-10 col-xl-9 mx-auto ">
          <div class="card card-signin flex-row my-5">
            
            <div class="card-body">
              
              
              <h5 class="card-title text-center">Here you can see the members of the group</h5>
    
<table class="table table-bordered" id="dataTable" border=2>
                        <tr style="font-size:20px">
                           
                          <th>Users</th>
                          
                        </tr>      

            	  
                           {% for user in users_of_group %}
                            <tr>  <td> 
		<div class="row">
			<div class="form-label-group col-sm-3">
                                    {{ user['username'] }}{% if user['admin'] %} <h6>The user is an admin</h6>{% else %} 
			</div>


			<div class="form-label-group col-sm-4">
 
<a  align="rigth"  href={{ url_for("delete_user",user=user['username'],group=group)}} class="btn btn-lg btn-primary btn-block btn-login  font-weight-bold mb-2"  style="width:100%; margin:0 10% 0; background-color: #B2EBF2; color:black; border-color:white; border-width:3px; border-style: solid; "  type="submit" target="_blank" >Delete member </a>  
			
</div>

			<div class="form-label-group col-sm-5">

<a  align="right"  href={{ url_for("give_permision",user=user['username'],group=group)}} class="btn btn-lg btn-primary btn-block btn-login  font-weight-bold mb-2"  style="width:80%; margin:0 10% 0; background-color: #B2EBF2; color:black; border-color:white; border-width:3px; border-style: solid; "   type="submit">Give permisions </a> {% endif %}   
			 </div> 
		</div> 
			
			</td> </tr>  
                          {% endfor %}
                            </table>
 


<br>
                  <h5 >As admin, you can add a member to the group:</h5> <br>

          
                <div class="form-label-group col-sm-5">
                <form action={{ url_for("include_user",group=group)}} method="POST">
<div class="form-label-group">
                  <input type="text" id="newmember" class="form-control" name= "newmember"  placeholder="newmember" required>
                  <label for="newmember">Username</label>
 <button class="btn btn-lg btn-primary btn-block" style=" margin: -48px 0px 0px 350px; background-color: #B2EBF2; font-size: 100%; border-radius: 5rem; letter-spacing: .05rem; font-weight: bold; padding: 0.8rem; color:black;"" type="submit" >Add new member</button>
                </div>
            
                </form>
	        <div>{{ msg }}</div>
</div>
<br>
{% if num_users==1 %}
<h5>You are the only member of the group, you can leave the group and delete it:</h5><br /><a  align="right" style=" margin: -10px 0px 0px 300px; width: 200px" href={{ url_for("delete_group",group=group)}} class="btn btn-lg btn-primary btn-block  " type="submit">Delete the group </a>

{% else %}

              <h5>Here you can leave the group:</h5> <br /> <a  align="right" style=" margin: -30px 0px 0px 300px; width: 200px" href={{ url_for("leave_group",group=group,num_admins=num_admins)}} class="btn btn-lg btn-primary btn-block  " type="submit">Leave the group </a>

{% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
 

 <!-- Footer -->
  <footer class="py-5 bg-dark" style="width:100%; position:fixed; bottom:0"   >
    <div class="container" >
      <p class="m-0 text-center text-white" >Copyright &copy; Clustomics 2020</p>
    </div>
    <!-- /.container -->
  </footer>




         
 
		

<!-- Bootstrap core JavaScript -->
<script src="../../static/vendor/jquery/jquery.min.js"></script>
<script src="../../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../../static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
		
		
		





	
	
	
	
	 
