<!DOCTYPE html>
<html>
 
	
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Settings  | Clustomics</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/signup.css" rel="stylesheet">

</head>
	<body>
	  

	  
<!-- Header -->
  
<div>
<iframe width="100%"  src="/header" scrolling="no" frameborder="no" ></iframe>
</div>   

    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
               <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Here you can change your username and password.</h5>
              
              
              <form action="{{ url_for('settings') }}" method = "post" class="form-signin">
                <div class="form-label-group">
                  <input type="text" id="currentusername" class="form-control" name= "currentusername" placeholder="Username" required>
                  <label for="currentusername">Current username</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="currentpassword" class="form-control" name= "password" placeholder="Password" required>
                  <label for="currentpassword">Current password</label>
                </div>

        

                <hr>

                <div class="form-label-group">
                  <input type="text" id="newusername" class="form-control" name= "newusername"  placeholder="newusername">
                  <label for="newusername">New username</label>
 <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="action" value='changeusername' >Change username</button>
                </div>


<div>
                <div class="form-label-group">
                  <input type="password" id="newpassword" class="form-control" name= 'newpassword' placeholder="newpassword">
                  <label for="newpassword">New password</label>
                </div>
                <div class="form-label-group">
                  <input type="password" id="confirmpassword" class="form-control" name= 'confirmpassword' placeholder="confirmpassword">
                  <label for="confirmpassword">Confirm Password</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="action" value='changepassword'>Change password</button>
 </div>               
                <hr class="my-4">
                  <div class="msg">{{ msg }}</div>
              </form>
              
              
             

            </div>
          </div>
        </div>
      </div>
    </div>
 



         
 
		

<!-- Bootstrap core JavaScript -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>
		
		
		





	
	
	
	
	 
